.container {
    width: 100%; 
    height: 100%; 
    display: flex;
}

.inner {
    position: fixed;
}

.time {
    top: -10px; 
    left: 904px; 
    z-index: 10;
}

.shma {
    top: 150px; 
    right: 184px; 
    z-index: 9;
}

.black {
    color: black;
}

.red {
    color: red;
}

.daf_yomi {
    bottom: 
    9px; left: 
    811px; z-index: 9;
}

.sunset {
    top: 150px; 
    left: 185px; 
    z-index: 10;
}

.image {
    width: 100%; 
    height: 100%; 
    top: 0; 
    left: 0;
}

