@font-face {
    font-family: Guttman;
    src: url(fonts/Guttman\ Drogolin-Bold.ttf);
}


.container {
    /* font-family :'Times New Roman', Times, serif; */
    font-family: Guttman;
    width: 100%; 
    height: 100%; 
    display: flex;
    font-size: 1.1rem;
}

.inner {
    position: fixed;
}

.black {
    color: black;
}

.red {
    color: red;
}

.image {
    width: 100%; 
    height: 100%; 
    top: 0; 
    left: 0;
}

.purim {
    transition: margin-right 12s 15s;
    z-index: 100;
}

.msg {
    text-align: center;
    align-items: center;
    z-index: 100;
    top: 32vh;
    left: 27vw;
    width: 47vw;
    height: 43vh;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    line-height: 110%;
}


.time {
    font-size: 9.5rem;
    color: black;
    position: absolute;
    top: 6vh;
    width: 100vw;
    text-align: center;
    align-items: center;
    display: inline-flex;
    justify-content: space-around;
    flex-direction: column;
}

.day {
    font-size: 4.5rem;
    color: rgba(155,74,9,255);
    position: absolute;
    top: 1vh;
    width: 100vw;
    text-align: center;
    align-items: center;
    display: inline-flex;
    justify-content: space-around;
    flex-direction: column;
}

.middle-box {
    font-size: 3.4rem;
    color: rgba(155,74,9,255);
    position: absolute;
    top: 50vh;
    width: 82.3vw;
    right: 9vw;
    text-align: center;
    align-items: stretch;
    display: inline-flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

.daf {
    /* width: 44%; */
    width: 14%;
    text-align: center;
    position: relative;
    flex-direction: column;
    justify-content: center;
    line-height: 99%;
    font-size: 4.3rem;
    margin-top: -1vh;
}

.date {
    width: 14%;
    text-align: center;
    position: relative;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    line-height: 120%;
    font-size: 3.9rem;
    margin-top: -4vh;
}
.title {
    color: rgba(155,74,9,255);
    position: absolute;
    bottom: 9vh;
    text-align: center;
    align-items: stretch;
    display: inline-flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    font-size: 4.6rem;
}

.title-shma {
    right: 13vw;
}

.title-shkiah {
    left: 14vw;
}


.box-shma {
    color: rgba(155,74,9,255);
    position: absolute;
    bottom: 1vh;
    right: 3%;
    width: 50%;
    text-align: center;
    align-items: stretch;
    display: inline-flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    font-size: 4.6rem;
}

.shkiah {
    color: rgba(155,74,9,255);
    position: absolute;
    bottom: 1vh;
    left: 20%;
    text-align: center;
    align-items: stretch;
    display: inline-flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    font-size: 4.6rem;
}

.shma2 {
    width: 44%;
    text-align: initial;
}

.shma1 {
    width: 44%;
    text-align: left;
}

.hide {
   visibility: hidden; 
}

.candles {
    width: 10%; 
    height: 20%; 
    top: 16vh; 
    z-index: 999999;
    -webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
    filter: blur(5px);
    opacity: 0.2;
}

.candles-right {
    right: 10vw;
}

.candles-left {
    left: 10vw;
}

.up {
    z-index: 999;
}

.daf-title {
    font-size: 3rem;
}

.blue {
    color: black;
    text-shadow: 3px -3px white;
}

@media (max-width: 500px) {
    
    .box-shma {
        font-size: 2.6rem;
    }
    
    .shkiah {
        font-size: 2.6rem;
    }
  }

