@font-face {
    font-family: Guttman;
    src: url(fonts/Guttman\ Drogolin-Bold.ttf);
}


.container {
    /* font-family :'Times New Roman', Times, serif; */
    font-family: Guttman;
    width: 100%; 
    height: 100%; 
    display: flex;
    font-size: 1.1rem;
}

.inner {
    position: fixed;
}

.black {
    color: black;
}

.red {
    color: red;
}

.image {
    width: 100%; 
    height: 100%; 
    top: 0; 
    left: 0;
}

.purim {
    transition: margin-right 12s 15s;
    z-index: 100;
}

.msg {
    text-align: center;
    align-items: center;
    z-index: 100;
    top: 32vh;
    left: 27vw;
    width: 47vw;
    height: 43vh;
    display: inline-flex;
    justify-content: space-around;
    flex-direction: column;
    flex-direction: column;
}

.in-div {
    line-height: 100%;
}

.time {
    font-size: 4.5rem;
    color: rgba(155,74,9,255);
    position: absolute;
    top: 1vh;
    width: 100%;
    text-align: center;
    align-items: center;
    display: inline-flex;
    justify-content: space-around;
    flex-direction: column;
    /* display: none; */
}

.day {
    font-size: 4.5rem;
    color: black;
    position: absolute;
    top: 8vh;
    width: 100%;
    text-align: center;
    align-items: center;
    display: inline-flex;
    justify-content: space-around;
    flex-direction: column;
}

.shkiah {
    font-size: 4.5rem;
    color: rgba(155,74,9,255);
    position: absolute;
    top: 16vh;
    width: 100%;
    text-align: center;
    align-items: center;
    display: inline-flex;
    justify-content: space-around;
    flex-direction: column;
}

.middle-box {
    font-size: 3.4rem;
    color: rgba(155,74,9,255);
    position: absolute;
    top: 50vh;
    width: 82.3vw;
    right: 9vw;
    text-align: center;
    align-items: stretch;
    display: inline-flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

.daf {
    /* width: 44%; */
    width: 14%;
    text-align: center;
    position: relative;
    /* font-size: 2.9rem; */
    /* padding-top: 4vh; */
}

.date {
    width: 14%;
    text-align: center;
    position: relative;
    /* font-size: 2.9rem; */
}


.box-shma {
    color: rgba(155,74,9,255);
    position: absolute;
    bottom: 3vh;
    width: 100%;
    text-align: center;
    align-items: stretch;
    display: inline-flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    font-size: 4.5rem;
}

.shma2 {
    width: 44%;
    text-align: initial;
}

.shma1 {
    width: 44%;
    text-align: left;
}

.hide {
   visibility: hidden; 
}

.up {
    z-index: 99999;
}

